.container {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right,
            #76a67e 10%,
            #7ba39c 20%,
            #6c87bf 30%,
            #5167a8 40%,
            #56599d 50%,
            #625398 60%,
            #985999 70%,
            #b74681 80%,
            #d04e74 90%);
    border-image-slice: 1;
}

.container .boxAbout {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.container .boxAbout .name {
    font-size: 64px;
    text-align: center;
    width: 100%;
    background-color: var(--background-tittle);
    color: var(--color-title);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 70vh;
    margin: 1rem;
    color: var(--color-text);
    text-align: center;
}

/* .containerProject{
    opacity: .8;
    border-radius: 15px;
    border: #292839 1px solid;
    box-shadow: 0 16px 14px 0 #292839;
}
*/
.containerProject {
    width: 0;
    height: 70vh;
    flex-grow: 1;
    transition: all .5s;
    cursor: pointer;
    z-index: 0;
}

.containerProject:hover {
    width: 700px;
    transition: all .5s;
    opacity: 1;
    filter: contrast(120%);
}

.image {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.content {
    position: absolute;
    display: none;
    background-color: #04152d8a;

    padding: 1rem;
    opacity: 0;
    width: 100%;
    z-index: 999;
    transition: all .5s;
    top: 25%;
}

.content:hover {
    opacity: 1;
}

.title {
    font-size: 25px;
    font-weight: 700;
}

.description {
    margin-top: 6px;
    font-size: 15px;
    font-weight: 400;
}

.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 22px;
    gap: 1rem;
}

.skill {
    font-size: 25px;
    font-weight: 400;
    background: var(--color-dark);
    padding: 4px 22px;
    min-width: 120px;
    text-align: center;
}

.links {
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: center;
}

.link {
    color: var(--color-text);
    font-size: 30px;
    font-weight: 600;
    border-radius: 100px;
    background: var(--color-primary);
    padding: 0.375rem 0.75rem;
    width: 50%;
}