.boxSkills {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right,
            #76a67e 10%,
            #7ba39c 20%,
            #6c87bf 30%,
            #5167a8 40%,
            #56599d 50%,
            #625398 60%,
            #985999 70%,
            #b74681 80%,
            #d04e74 90%);
    border-image-slice: 1;
}

.boxSkills .boxAbout {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.boxSkills .boxAbout .name {
    font-size: 64px;
    text-align: center;
    width: 100%;
    color: var(--color-title);
    background-color: var(--background-tittle);
}



.boxSkills .boxImg {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    height: 70%;
    gap: 1rem;
}
.boxSkills .colmena{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skillImage {
    width: 150px;
    height: 150px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: relative;
    object-fit: contain;
    /* filter sepia */
    filter: drop-shadow(10px 10px 10px black);
    transition: all .5s;
    width: 100px;
}

.skillImage.show {
    opacity: 1;
}


/* .boxSkills .boxImg img:hover {
    filter: drop-shadow(15px 15px 10px black);
    scale: 1.2;
} */

.boxSkills .boxImg p {
    color: var(--boxImgtext);
}
.boxSkills .listSkills{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    background-color: rgba(86, 89, 157, .2);
    display: flex;
    justify-content: space-evenly;
}
.boxSkills .listSkills .image{
    width: 30px;
    object-fit: contain;
}
@media only screen and (max-width: 810px) {
    .boxSkills .boxAbout .name {
        font-size: 45px;
    }

    .boxSkills .boxImg {
        grid-template-columns: auto auto;
        width: 100%;
    }
    .boxSkills .boxImg img, .boxSkills .colmena {
        width: 70px;
        height: 70px;
    }
    .boxSkills .listSkills{
        height: 30px;
    }
    .boxSkills .listSkills .image{
        width: 20px;
    }
}