.box {
    width: 100%;
    height: 100vh;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right,
            #76a67e 10%,
            #7ba39c 20%,
            #6c87bf 30%,
            #5167a8 40%,
            #56599d 50%,
            #625398 60%,
            #985999 70%,
            #b74681 80%,
            #d04e74 90%);
    border-image-slice: 1;
}

.boxAbout {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    padding: 2rem;
    gap: 2rem;
    position: relative;
    z-index: 1;
}

.nameAbout {
    /* background-color: rgb(41, 40, 57); */
    width: 100%;
    height: 100%;
    align-self: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-size: 56px;
    padding: 1rem;
    color: var(--color-title);
    margin-bottom: 10px;
}

.about {
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-about);
    width: 100%;
}

.about span {
    font-weight: bold;
    color: #56599d;
}

.boxImg {
    height: 80%;
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.img {
    width: 100%;
    max-width: 80%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

/* @media only screen and (max-width: 1550px) {
    .img {
        max-width: 280px;
        max-height: 280px;
    }
} */

@media only screen and (max-width: 1200px) {
    .img {
        width: 100%;
        max-width: 250px;
    }

    .name {
        font-size: 36px;
        padding: 1rem;
    }

    .about {
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    .box {
        height: 100%;
    }

    .boxAbout {
        grid-template-columns: 1fr;
    }
}