.box{
    background-color: var(--background-skills);
    width: 100%;
    height: 100vh;
}
.boxAbout{
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    padding: 2rem;
    gap: 2rem;
}
.nameAbout{
    background-color: rgb(41, 40, 57);
    width: 100%;
    height: 80%;
    align-self: center;
    text-align: center;
}
.name{
    font-size: 76px;
    padding: 1rem;
    color: #fff;
}
.about{
    font-size: 15px;
    color: #ffffffb3;
}
.boxImg{
    background-color: rgb(41, 40, 57);
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 80%;
}
.img{
    width: 80%;
    max-width: 320px;
}