.box{
    
    width: 100%;
    height: 100vh;
}
.boxAbout{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 30%;
    gap: 2rem;
}
.nameAbout{
    align-self: center;
    margin: 3rem;
    text-align: center;
}
.name{
    font-size: 76px;
    padding: 1rem;
    color: #fff;
}
.about{
    font-size: 15px;
    color: #ffffffb3;
}
.boxImg{
    background-color: transparent;
}