.box {
  width: 100%;
  height: 100vh;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right,
      #76a67e 10%,
      #7ba39c 20%,
      #6c87bf 30%,
      #5167a8 40%,
      #56599d 50%,
      #625398 60%,
      #985999 70%,
      #b74681 80%,
      #d04e74 90%);
  border-image-slice: 1;
  position: relative;
  z-index: 1;
}

.boxHome {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 30%;
  gap: 2rem;
}

.nameHome {
  align-self: center;
  margin: 3rem;
  text-align: center;
  color: var(--text-name);
  z-index: 9;
}

.name {
  font-size: 76px;
  padding: 1rem;
  color: #5167a8;
}

.description {
  font-size: 36px;
}

.description > * {
  color: #5167a8;
}


.boxImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 4px solid #5167a8;
  filter: saturate(0.7);
}


@media only screen and (max-width: 1200px) {
  .name {
    font-size: 56px;
  }
  
  .description {
    font-size: 26px;
  }
  
  .img {
    width: 350px;
    height: 350px;
  }
}

@media only screen and (max-width: 600px) {
  .boxHome {
    grid-template-columns: 1fr;
  }
  .nameHome {
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
  .boxImg {
    display: none;
  }
  .description > * {
    display: flex;
    width: 300px;
  }
  .description > *:last-child{
    display: none;
  }
}

