.boxContact {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.boxContact .boxTittle {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.boxContact .boxTittle .name {
    font-size: 64px;
    text-align: center;
    width: 100%;
    background-color: var(--background-tittle);
    color: var(--color-title);
}
form{
    text-align: -webkit-center;
}