.header {
  position: fixed;
  height: 40px;
  width: 100vw;
  display: grid;
  grid-template-columns: .9fr .1fr;
  align-items: center;
  background-color: var(--background-header);
  z-index: 999;
  transition: all .3s;
}

.headerWhite {
  background-color: var(--background-header);
  transition: all 0.3s;
}

.headerTransparent {
  background-color: transparent;
  transition: all 0.3s;
}

.header .headerList {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}

.header .headerList li a {
  color: var(--text-header);
  font-weight: 500;
  transition: all 0.3s;
}

.header .headerList li a:hover {
  color: var(--hover-header);
}

.header .mode {
  font-size: 20px;
  color: yellow;
  text-align: end;
  padding-right: 25px;
}

/* Toggle */
.toggle-container {
  position: absolute;
  top: -12px;
  right: .2em;
}

.toggle {
  visibility: hidden;
}

.toggle+label {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  cursor: pointer;
  color: var(--primary-text-color);
}

.toggle+label::before {
  content: "";
  height: 1em;
  width: 2em;
  border-radius: 1em;
  background-color: var(--toggle-bg);
  margin-right: 0.5em;
  transition: background-color 250ms ease-in-out;
}

.toggle+label::after {
  content: "";
  height: 0.8em;
  width: 0.8em;
  border-radius: 1em;
  background-color: var(--toggle-fg);
  position: absolute;
  left: 0.2em;
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}

.toggle:checked+label::after {
  transform: translateX(100%);
}

@media only screen and (max-width: 600px) {
  .header {
    height: 60px;
    background-color: transparent;
  }

  .headerList {
    display: none !important;
  }

  .toggle-container {
    position: absolute;
    top: -12px;
    right: .5em;
  }
}