@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

:root {
  --font-family: 'Jost', sans-serif;
  --background-color: #16191d;
  --background-tittle: transparent;
  --color-title: #faebd7;
  /* HEADER */
  --background-header: hsl(214deg 14% 10% / 65%);
  --hover-header: #5167a8;
  --text-header: #fff;
  /* HOME */
  --text-name: #fff;
  /* ABOUT */
  --text-about: #9e9e9e;
  /* SKILLS */
  --background-skills: #1e1e1f;
  --boxImgtext: #ffffffb3;
  /* PROJECTS */
  --background-projets: #1e1e1f;
  /* Colours */
  --color-text: #fff;
  --color-primary: #283452;
  ;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #04152d;
  /* Fonts */
  --font-roboto: "Roboto";
  /* CONTACT */
  --background-contact: #1e1e1f;
  /* TOGGLE */
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

}

li,
ul {
  list-style: none;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}
/* SCROLLBAR */
::-webkit-scrollbar {
  display: none;
}
/* TEMA CLARO */
[data-theme='light'] {
  --background-color: #f1f3f5;
  --color-title: #1e1e1fe5;
  /* HEADER */
  --hover-header: #ffd000;
  
  /* HOME */
  --text-name: #1e1e1fe5;
  /* TOGGLE */
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
}

/* SCROLLING */
/* [data-scrolling='scroll'] {
  --background-header: hsl(214deg 14% 10% / 65%);
  --hover-header: #ff6200;
  --text-header: #fff;
} */