@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

:root {
  --font-family: 'Jost', sans-serif;
  --background-tittle: #faebd7;
  --boxImgtext: #ffffffb3;
  /* HEADER */
  --background-header: #191919;
  --hover-header: #ff6200;
  --text-header: #faebd7;
  /* ABOUT */
  /* SKILLS */
  --background-skills: #1e1e1f;
  /* PROJECTS */
  --background-projets: #1e1e1f;
  /* CONTACT */
  --background-contact: #1e1e1f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

li, ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

a {
  text-decoration: none !important;
}
