.notFound{
    background-color: var(--background-contact);
    height: 100vh;
    padding: 3rem;
}
.notFound .error, .notFound .desc{
    color: red;
    font-size: 2em;
    text-align: center;
}

.notFound .boxGif{
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.notFound .gif{
    width: 100%;
    height: auto;
}